body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffffff, #ffffff);
    color: #000000;
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(180, 180, 180, 0.5);
}

h1 {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 280px;
    height: 50px;
    margin-right: 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(212, 212, 212, 0.192);
}

button {
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #ff9aa7;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff8787;
}

button:active {
    background-color: #ff4848;
}

p {
    margin: 10px 0;
}